<ui-modal [isOpen]="isPartModalOpen" (onClose)="closePartModal()">
    <ui-form (ngSubmit)="savePart()">
        <ui-input [(ngModel)]="partName" placeholder="Name" name="name"></ui-input>
        <ui-input [(ngModel)]="partCode" placeholder="Code" name="code"></ui-input>
        <ui-dropdown [(ngModel)]="partCategory" [options]="partCategories"></ui-dropdown>
        <ui-input [(ngModel)]="partBuyPrice" placeholder="Buy Price" name="buyPrice" type="number" step="0.01"></ui-input>
        <ui-input [(ngModel)]="partSellPrice" placeholder="Sell Price" name="sellPrice" type="number" step="0.01"></ui-input>
        <ui-car-select [(ngModel)]="partId"></ui-car-select>
        <ui-button type="submit">Save</ui-button>
    </ui-form>
</ui-modal>

<div class="flex justify-center m-5">
    <table class="table-auto w-1/2 shadow-xl border-separate border border-gray-400 border-spacing-5">
        <thead class="uppercase">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>
                <th>
                    Category
                </th>
                <th>
                    Supported Cars
                </th>
                <th>
                    Buy Price
                </th>
                <th>
                    Sell Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor="let part of parts">
                <td>
                    {{ part.name }}
                </td>
                <td>
                    {{ part.code }}
                </td>
                <td>
                    {{ part.category }}
                </td>
                <td>
                    <p *ngFor="let car of part.supportedCars">
                        # {{ car.brand }} - {{ car.model }} #
                    </p>
                </td>
                <td>
                    {{ part.buyPrice }}
                </td>
                <td>
                    {{ part.sellPrice }}
                </td>
                <td class="flex gap-2">
                    <ui-button color="yellow" (click)="part.id && openEditPartModal(part.id)">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                        </svg>
                    </ui-button>
                    <ui-button color="red" (click)="part.id && deletePart(part.id)">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                        </svg>
                    </ui-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="fixed bottom-5 right-5">
    <ui-button (click)="openAddPartModal()">Add</ui-button>
</div>