<ui-modal [isOpen]="isAddPartModalOpen" (onClose)="closeAddPartModal()">
    <ui-form (ngSubmit)="addPart()">
        <ui-input [(ngModel)]="partName" placeholder="Name" name="name"></ui-input>
        <ui-input [(ngModel)]="partCode" placeholder="Code" name="code"></ui-input>
        <ui-input [(ngModel)]="partCategory" placeholder="Category" name="category"></ui-input>
        <ui-dropdown [options]="partCategories"></ui-dropdown> <!-- ! BUG: when clicking this button it submits form ! -->
        <ui-input [(ngModel)]="partBuyPrice" placeholder="Buy Price" name="buyPrice" type="number"></ui-input>
        <ui-input [(ngModel)]="partSellPrice" placeholder="Sell Price" name="sellPrice" type="number"></ui-input>
        <ui-button>Add</ui-button>
    </ui-form>
</ui-modal>

<div class="flex justify-center m-5">
    <table class="table-auto w-1/2 shadow-xl border-separate border border-gray-400 border-spacing-5">
        <thead class="uppercase">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>
                <th>
                    Category
                </th>
                <th>
                    Supported Cars
                </th>
                <th>
                    Buy Price
                </th>
                <th>
                    Sell Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor="let part of parts">
                <td>
                    {{ part.name }}
                </td>
                <td>
                    {{ part.code }}
                </td>
                <td>
                    {{ part.category }}
                </td>
                <td>
                    {{ part.supportedCars }}
                </td>
                <td>
                    {{ part.buyPrice }}
                </td>
                <td>
                    {{ part.sellPrice }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="fixed bottom-5 right-5">
    <ui-button (click)="openAddPartModal()">Add</ui-button>
</div>