<div class="flex flex-col items-center mt-5">
    <div class="flex flex-row m-5">
        <label>Search by Brand and Model</label>
    </div>
    <div class="flex">
        <ui-input type="text" placeholder="Brand"></ui-input>
        <ui-input type="text" placeholder="Model"></ui-input>
        <button class="outline-1 rounded-md text-white bg-blue-500 p-2 shadow hover:bg-blue-400 transition-all">Search</button>
    </div>
    <div class="flex flex-row m-5">
        <label>Search by Part Category</label>
    </div>
</div>