<ui-modal [isOpen]="isAddCarModalOpen" (onClose)="closeAddCarModal()">
    <form class="flex flex-col gap-4">
        <ui-input placeholder="Brand"></ui-input>
        <ui-input placeholder="Model"></ui-input>
        <ui-input placeholder="Production Year" type="number"></ui-input>
        <ui-button>Add</ui-button>
    </form>
</ui-modal>

<div class="flex justify-end m-5">
    <ui-button (click)="openAddCarModal()">Add</ui-button>
</div>

<div class="flex justify-center m-5">
    <table class="table-auto outline divide-x w-1/2">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Production Year
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
    </table>
</div>