<div class="relative" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full justify-center p-5 text-center items-center">
        <div class="relative transform overflow-hidden rounded-xl bg-white text-center shadow-xl transition-all">
            <div class="bg-white p-5 m-5">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
  </div>
</div>